accelerate==1.12.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
anaconda-anon-usage @ file:///opt/miniconda3/conda-bld/anaconda-anon-usage_1764636648062/work
anaconda-auth @ file:///home/task_176583888028164/conda-bld/anaconda-cloud-auth-split_1765839818582/work
anaconda-cli-base @ file:///home/task_176488869080098/conda-bld/anaconda-cli-base_1764888740587/work
annotated-doc==0.0.4
annotated-types @ file:///home/task_176174487847081/conda-bld/annotated-types_1761744928471/work
anthropic==0.79.0
anyio==4.12.1
apache-tvm-ffi==0.1.8.post2
archspec @ file:///home/task_175812491784513/conda-bld/archspec_1758124989039/work
astor==0.8.1
attrs==25.4.0
audioop-lts==0.2.2
av==16.1.0
beautifulsoup4==4.14.3
bitsandbytes==0.49.1
blake3==1.0.8
bleach==6.3.0
boltons @ file:///croot/boltons_1751383775419/work
brotlicffi @ file:///home/task_176496126124857/conda-bld/brotlicffi_1764961326114/work
cachetools==7.0.0
cbor2==5.8.0
certifi @ file:///home/task_176313455153976/conda-bld/certifi_1763135329031/work/certifi
cffi @ file:///home/task_176183214835616/conda-bld/cffi_1761832774688/work
charset-normalizer @ file:///home/task_176174481524083/conda-bld/charset-normalizer_1761744828711/work
click @ file:///home/task_176433224228540/conda-bld/click_1764332256338/work
cloudpickle==3.1.2
cloup==3.0.8
compressed-tensors==0.13.0
conda @ file:///home/task_176556791054345/conda-bld/conda_1765567979493/work/conda-src
conda-anaconda-telemetry @ file:///croot/conda-anaconda-telemetry_1755883788794/work
conda-anaconda-tos @ file:///croot/conda-anaconda-tos_1755123313635/work
conda-content-trust @ file:///work/perseverance-python-buildout/croot/conda-content-trust_1728487058234/work
conda-libmamba-solver @ file:///C:/miniconda3/conda-bld/conda-libmamba-solver_1764245615235/work/src
conda-package-handling @ file:///home/task_176236637997838/conda-bld/conda-package-handling_1762366405159/work
conda_package_streaming @ file:///home/task_176236152622180/conda-bld/conda-package-streaming_1762361633858/work
cryptography @ file:///home/task_176193173929288/conda-bld/cryptography-split_1761931963149/work
cuda-bindings==13.1.1
cuda-pathfinder==1.3.3
cuda-python==13.1.1
cupy-cuda12x==13.6.0
cut-cross-entropy==25.1.1
datasets==4.3.0
decorator==5.2.1
defusedxml==0.7.1
depyf==0.20.0
diffusers==0.36.0
dill==0.4.0
diskcache==5.6.3
distro @ file:///work/perseverance-python-buildout/croot/distro_1728396110052/work
dnspython==2.8.0
docstring_parser==0.17.0
einops==0.8.2
email-validator==2.3.0
fastapi==0.128.4
fastapi-cli==0.0.20
fastapi-cloud-cli==0.11.0
fastar==0.8.0
fastjsonschema==2.21.2
fastrlock==0.8.3
filelock==3.20.3
flashinfer-python==0.6.1
frozendict @ file:///home/task_176175049677026/conda-bld/frozendict_1761750665451/work
frozenlist==1.8.0
fsspec==2025.9.0
gguf==0.17.1
glcontext==3.0.0
grpcio==1.78.0
grpcio-reflection==1.78.0
h11==0.16.0
hf-xet==1.2.0
hf_transfer==0.1.9
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
httpx-sse==0.4.3
huggingface_hub==0.36.2
idna @ file:///home/task_176191175488988/conda-bld/idna_1761911981595/work
ijson==3.4.0.post0
importlib_metadata==8.7.1
interegular==0.3.3
isosurfaces==0.1.2
jaraco.classes @ file:///croot/jaraco.classes_1755516327832/work
jaraco.context @ file:///io/perseverance-python-buildout/croot/jaraco.context_1731706750665/work
jaraco.functools @ file:///croot/jaraco.functools_1740408111753/work
jeepney @ file:///tmp/build/80754af9/jeepney_1627537048313/work
Jinja2==3.1.6
jiter==0.13.0
jmespath==1.1.0
jsonpatch @ file:///work/perseverance-python-buildout/croot/jsonpatch_1728399595941/work
jsonpointer @ file:///croot/jsonpointer_1753788433671/work
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter_client==8.8.0
jupyter_core==5.9.1
jupyterlab_pygments==0.3.0
keyring @ file:///home/task_176363713576885/conda-bld/keyring_1763637184857/work
lark==1.2.2
libmambapy @ file:///home/task_176311149180614/conda-bld/mamba-split_1763111570862/work/libmambapy
llguidance==1.3.0
llvmlite==0.44.0
lm-format-enforcer==0.11.3
loguru==0.7.3
manim==0.20.1
ManimPango==0.6.1
mapbox_earcut==2.0.0
markdown-it-py @ file:///croot/markdown-it-py_1756299186942/work
MarkupSafe==3.0.3
mcp==1.26.0
mdurl @ file:///home/task_175855216352428/conda-bld/mdurl_1758552176751/work
menuinst @ file:///home/task_176538230483207/conda-bld/menuinst_1765382366331/work
mistral_common==1.9.0
mistune==3.2.0
model-hosting-container-standards==0.1.13
moderngl==5.12.0
moderngl-window==3.1.1
more-itertools @ file:///home/task_176112148319406/conda-bld/more-itertools_1761121494880/work
mpmath==1.3.0
msgpack @ file:///croot/msgpack-python_1750958623279/work
msgspec==0.20.0
multidict==6.7.1
multiprocess==0.70.16
nbclient==0.10.4
nbconvert==7.17.0
nbformat==5.10.4
networkx==3.6.1
ninja==1.13.0
numba==0.61.2
numpy==2.2.6
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cudnn-frontend==1.18.0
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-cutlass-dsl==4.3.5
nvidia-ml-py==13.590.48
nvidia-nccl-cu12==2.27.5
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvshmem-cu12==3.3.20
nvidia-nvtx-cu12==12.8.90
openai==2.17.0
openai-harmony==0.0.8
opencv-python-headless==4.13.0.92
outlines_core==0.2.11
packaging @ file:///home/task_176104878999627/conda-bld/packaging_1761049078606/work
pandas==3.0.0
pandocfilters==1.5.1
partial-json-parser==0.2.1.1.post7
peft==0.18.1
pillow==12.1.0
pkce @ file:///work/perseverance-python-buildout/croot/pkce_1728388093137/work
pkgconfig==1.6.0
platformdirs @ file:///home/task_176235602006708/conda-bld/platformdirs_1762356487962/work
pluggy @ file:///croot/pluggy_1733169602837/work
prometheus-fastapi-instrumentator==7.1.0
prometheus_client==0.24.1
propcache==0.4.1
protobuf==6.33.5
psutil==7.2.2
py-cpuinfo==9.0.0
pyarrow==23.0.0
pybase64==1.4.3
pycairo==1.29.0
pycosat @ file:///croot/pycosat_1736868416091/work
pycountry==24.6.1
pycparser @ file:///home/task_175749564936714/conda-bld/pycparser_1757496040682/work
pydantic @ file:///home/task_176408303339170/conda-bld/pydantic_1764083529211/work
pydantic-extra-types==2.11.0
pydantic-settings @ file:///home/task_176416496069032/conda-bld/pydantic-settings_1764165165402/work
pydantic_core @ file:///home/task_176400924785639/conda-bld/pydantic-core_1764009747660/work
pydub==0.25.1
pyglet==2.1.13
pyglm==2.8.3
Pygments @ file:///home/task_176243137807904/conda-bld/pygments_1762431407645/work
PyJWT @ file:///home/task_176433208417911/conda-bld/pyjwt_1764332098101/work
PySocks @ file:///home/task_176175235884818/conda-bld/pysocks_1761753009495/work
python-dateutil==2.9.0.post0
python-dotenv @ file:///croot/python-dotenv_1745610241282/work
python-json-logger==4.0.0
python-multipart==0.0.22
PyYAML==6.0.3
pyzmq==27.1.0
ray==2.53.0
readchar @ file:///home/task_176061336965958/conda-bld/readchar_1760613437376/work
referencing==0.37.0
regex==2026.1.15
requests @ file:///home/task_176235918788486/conda-bld/requests_1762359591632/work
rich @ file:///home/task_176037557612320/conda-bld/rich_1760375632000/work
rich-toolkit==0.18.1
rignore==0.7.6
rpds-py==0.30.0
ruamel.yaml @ file:///home/task_176253595903435/conda-bld/ruamel.yaml_1762535972567/work
ruamel.yaml.clib @ file:///home/task_176253026438192/conda-bld/ruamel.yaml.clib_1762530278005/work
safetensors==0.7.0
scipy==1.17.1
screeninfo==0.8.1
SecretStorage @ file:///home/task_175793143758247/conda-bld/secretstorage_1757931467244/work
semver @ file:///home/task_176190313959014/conda-bld/semver_1761903196627/work
sentencepiece==0.2.1
sentry-sdk==2.52.0
setproctitle==1.3.7
setuptools==80.9.0
shellingham @ file:///home/task_176191203629823/conda-bld/shellingham_1761912204430/work
six==1.17.0
skia-pathops==0.9.2
sniffio==1.3.1
soupsieve==2.8.3
srt==3.5.3
sse-starlette==3.2.0
starlette==0.52.1
supervisor==4.3.0
svgelements==1.9.6
sympy==1.14.0
tabulate==0.9.0
tiktoken==0.12.0
tinycss2==1.4.0
tokenizers==0.22.2
tomli @ file:///croot/tomli_1753774587605/work
torch==2.9.1
torchao==0.15.0
torchaudio==2.9.1
torchvision==0.24.1
tornado==6.5.4
tqdm @ file:///home/task_176286304944547/conda-bld/tqdm_1762863349742/work
traitlets==5.14.3
transformers==4.57.6
triton==3.5.1
trl==0.8.6
truststore @ file:///home/task_176252074050774/conda-bld/truststore_1762520903993/work
typeguard==4.4.4
typer==0.20.0
typer-slim==0.20.0
typing-inspection @ file:///home/task_176061348700415/conda-bld/typing-inspection_1760614166875/work
typing_extensions @ file:///croot/typing_extensions_1756280817316/work
tyro==1.0.6
unsloth==2026.1.4
unsloth_zoo==2026.1.4
urllib3 @ file:///home/task_176539908095521/conda-bld/urllib3_1765399198587/work
uvicorn==0.40.0
uvloop==0.22.1
vllm==0.15.1
watchdog==6.0.0
watchfiles==1.1.1
webencodings==0.5.1
websockets==16.0
wheel==0.45.1
xformers==0.0.34
xgrammar==0.1.29
xxhash==3.6.0
yarl==1.22.0
zipp==3.23.0
zstandard @ file:///home/task_175818846949212/conda-bld/zstandard_1758189073015/work
